@page "/counter"
@using System.Threading
@using OpenDokoBlazor.Shared.Services
@using Stl.Fusion
@inherits Stl.Fusion.Blazor.LiveComponentBase<DateTime>
@inject ITimeService Time

@{
    var time = State.LastValue.ToString("F") ?? "n/a";
    var error = State.Error;
}


<h1>Counter</h1>

<StatefulComponentState Component="@this" />
<p>Server Time: @time</p>

@code {
    protected override void OnInitialized()
    {
        StateHasChangedTriggers = StateEventKind.All;
        base.OnInitialized();
    }

    protected override void ConfigureState(LiveState<DateTime>.Options options)
        => options.WithUpdateDelayer(0.5);

    protected override Task<DateTime> ComputeStateAsync(CancellationToken cancellationToken)
        => Time.GetTimeAsync(cancellationToken);

    private void Refresh()
    {
        State.Invalidate();
        State.CancelUpdateDelay();
    }
}
